
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>Index</h2>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/thetrumpet.jpg" class="ourImage" />
</a>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/thetrombone.jpg" class="ourImage" />
</a>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/Tuba.jpg" class="ourImage" />
</a>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/Flute.jpg" class="ourImage" />
</a>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/Clarinet.jpg" class="ourImage" />
</a>

<a href='@Url.Action("Details", "Rentals")'>
    <img src="~/Content/image/Sax.jpg" class="ourImage" />
</a>

