@model BlowOutProject.Models.Instrument

@{
    ViewBag.Title = "Used";
}

<h2>Used</h2>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstUsedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstUsedPrice)
        </dd>

    </dl>
    <p>Once the 18 months has been achieved, the client owns the instrument. If instrument is returned at any time before 3 months, there will be a $200 re-stocking fee. If instrument is returned after 3 months they forfeit any equity in the instrument.</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
